{% extends 'baseBack.html.twig' %}

{% block content %}
    <h1>Reclamation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Client</th>
                <th>Date</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.date ? reclamation.date|date('Y-m-d') : '' }}</td>

                <td>{{ reclamation.idclient.nom }}</td>
                <td>
                    <a href="{{ path('app_reclamation_show', {id: reclamation.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
