{% extends 'base.html.twig' %}

{% block title %}New ReservationChambre{% endblock %}

{% block body %}
    <h1>Create new ReservationChambre</h1>

    {{ include('reservation_chambre/_form.html.twig') }}

    <a href="{{ path('app_reservation_chambre_index') }}">back to list</a>
{% endblock %}
